/.idea/
/out/
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glg-abr
*.glo
*.glo-abr
*.gls
*.gls-abr
*.ist
*.log
*.out
*.run.xml

# Python
*.pyc
__pycache__

/runs/
/data/

__pycache__
*.pyc
/build
*.egg-info
